

  
$primarydark: #3c486b;
$primarylight: #F0f0f0;
body {
    background-color: $primarydark;
}
  

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 30vw;
    background-color: $primarylight;
    padding: 20px;
    color: $primarydark;
    font-size: 1.8rem;
    @media (max-width: 768px) {
      display: flex;
      position: fixed;
      width: 100%;
      height: 10vh;

    }
  }

  .sidebarElements {
      display: flex;
      flex-direction: column;
      @media (max-width: 768px) {
        display: none;
  
      }
  }


  .logoCon {
      display: flex;
      justify-content: space-between;
      padding: 10% 20% 10% 20%;
  }
  .logoCon > a > img {
      max-width: 5vw;
      filter: invert(26%) sepia(15%) saturate(1440%) hue-rotate(187deg) brightness(95%) contrast(89%);
      
  }

  .menuCon {
    @media (min-width: 768px) {
        display: none;
  
      }  
    display: flex;
    align-items: center;
    padding-left: 93%;
  }

  .menuCon > img {
      max-width: 8vw;
      filter: invert(26%) sepia(15%) saturate(1440%) hue-rotate(187deg) brightness(95%) contrast(89%);

  }

  .fullScreenMenu {
      position: fixed;
      height: 100vh;
      width: 100vw;
      font-size: 4em;
      background-color: $primarylight;
      color: $primarydark;
      display: flex;
      flex-direction: column;
      @media (min-width: 768px) {
        display: none;
  
      }
     
  }
.fullScreenMenu > .logoCon {
    padding: 10% 30%;
}
  .fullScreenMenu > .logoCon > a > img{
      max-width: 10vw;
  }


  .fullScreenImageCon {
      padding-left: 90%;
  }
  .fullScreenImageCon > img {
    max-width: 10vw;
    filter: invert(26%) sepia(15%) saturate(1440%) hue-rotate(187deg) brightness(95%) contrast(89%);

  }

  .fullScreenItems {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .footer {
      position: fixed;
      bottom: 0;
      font-size: 0.4em;
  }

  .footerCon {
      display: flex;
      justify-content: center;
      font-size: 0.7em;
  }